body{
    margin: auto;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/73/16/76/731676aef774bd6c91fac0927d87c428.jpg");
    background-size: cover;
    color: whitesmoke;
    font-family: "Righteous", cursive;
  }

.flex-container {
    display: flex;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

header{
font-size: xx-large;
font-weight: bolder;

  }

#questionBoxOne {
  position: absolute;
  
}

#questionBoxTwo {
  position: absolute;
 
}

#questionBoxThree {
  position: absolute;
 
}

#questionBoxFour {
  position: absolute;
 
}
.questionDiv{
  font-size: 25px;
  font-weight: bold;

}

.button{
background-color: rgb(22, 184, 187);
padding: 20px;
border-radius: 12px;
border: none;
color: white;
font-family:Arial, Helvetica, sans-serif;
font-size: 20PX;
}

.time{
  Float: right;
  margin-right: 20rem;
  margin-top:50rem ;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
font-size: 50PX;
font-weight: bolder;
}

.startButton{
  text-align: center;
  margin-top: 50%;
  background-color: rgb(22, 184, 187);
padding: 20px;
border-radius: 12px;
border: none;
color: white;
font-family:Arial, Helvetica, sans-serif;
font-size: 20PX;
}

#totalScore {
  color: rgb(32, 192, 184);
  font-size: 60px;
  font-weight: bolder;

}

.score  {
  display: none;
  font-size: 50px;
  font-weight: bolder;
}