body{
    margin: auto;
    text-align: center;
  }


#secLeft {
  position: absolute;
  top: 0.1%;
  display: block;
}

#questionBoxOne {
  position: absolute;
  top: 72%;
  left: 12%;
  display: inline-block;
}

#questionBoxTwo {
  position: absolute;
  top: 75%;
  left: 12%;
  display: none;
}

#questionBoxThree {
  position: absolute;
  top: 78%;
  left: 12%;
  display: none;
}

#questionBoxFour {
  position: absolute;
  top: 81%;
  left: 12%;
  display: none;
}